<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">

      <h1 class="title">Welcome in Best Cars service!</h1>

      <h3>Navigation links in service:</h3>

    </div>
    <div class="row justify-content-center">

      <button type="button" class="btn btn-dark" [routerLink]="['/car-form']">Add new car to Best Cars data base</button>
      <button type="button" class="btn btn-dark" [routerLink]="['/car-list']">Show and edit cars from data base</button>

    </div>
  </div>
</section>
