<section class="hero is-info is-fullheight is-bold">
  <div class="hero-body">
    <div class="container">

      <h1 class="title">Welcome in Best Cars service!</h1>

    </div>
    <div class="navigation">
      <h3>Navigation links in service:</h3>
      <ul>
        <li><a [routerLink]="['/car-form']" class="nav-link">Add new car to Best Cars data base</a></li>
        <li><a [routerLink]="['/car-list']" class="nav-link">Show and edit cars from data base</a></li>
      </ul>
    </div>
  </div>
</section>
